{% extends 'base.html' %}

{% block title %}

    source search

{% endblock %}

{% block content %}
<div style="margin: 20px;">
<form method=POST action="{{ url_for('search_txt') }}">
<div class="container-fluid">
  <label class="col-md-4 control-label" for="source_name" style="font-weight:bold">{{_('Название')}}</label>
  <div class="col-md-4">
  <input id="source_name" name="source_name" type="text" class="form-control input-md">

  </div>
</div>

<div class="container" style="margin: 20px">
        <div class="column">
            <div class="container-fluid">
              <div class="form-group col-sm-8" style="margin: 20px">
                <label for="myMultiselect2" style="font-weight:bold; margin-left: -50px">{{_('Тип источника')}}</label>
                <div id="myMultiselect2" class="multiselect2" style="margin-left: -50px">
                  <div id="mySelectLabel2" class="selectBox2" onclick="toggleCheckboxArea2()">
                    <!--<select class="form-select">
                        <option>Nothing is selected</option>
                    </select> -->
                    <div class="overSelect2"></div>
                  </div>
                  <div id="mySelectOptions2">
                    <label for="thirteen"><input name="source_translate" type="checkbox" id="thirteen" onchange="checkboxStatusChange2()" value=1 /> {{_('переводной')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="fourteen"><input name="source_non_translate" type="checkbox" id="fourteen" onchange="checkboxStatusChange2()" value=0 /> {{_('не переводной')}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-fluid" style="margin-left: -30px">
              <div class="form-group col-sm-8">
                <label for="myMultiselect4" style="font-weight:bold">{{_('Жанр источника')}}</label>
                <div id="myMultiselect4" class="multiselect4">
                  <div id="mySelectLabel4" class="selectBox4" onclick="toggleCheckboxArea4()">
                    <!--<select class="form-select">
                      <option>Nothing is selected</option>
                    </select> -->
                    <div class="overSelect4"></div>
                  </div>
                  <div id="mySelectOptions4">
                    <label for="ab"><input name="source_genre" type="checkbox" id="ab" onchange="checkboxStatusChange4()" value="Bib" /> {{_('Библия и апокрифы')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="ac"><input name="source_genre" type="checkbox" id="ac" onchange="checkboxStatusChange4()" value="Bog" /> {{_('Богословие')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="ad"><input name="source_genre" type="checkbox" id="ad" onchange="checkboxStatusChange4()" value="Gomilet" /> {{_('Гомилетика')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="ae"><input name="source_genre" type="checkbox" id="ae" onchange="checkboxStatusChange4()" value="Agiogr" /> {{_('Агиография')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="af"><input name="source_genre" type="checkbox" id="af" onchange="checkboxStatusChange4()" value=Pov" /> {{_('Повести и беллетристика')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="ag"><input name="source_genre" type="checkbox" id="ag" onchange="checkboxStatusChange4()" value="Litur" /> {{_('Литургика')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="ah"><input name="source_genre" type="checkbox" id="ah" onchange="checkboxStatusChange4()" value="Epi" /> {{_('Эпистолография')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="aj"><input name="source_genre" type="checkbox" id="aj" onchange="checkboxStatusChange4()" value="Letop" /> {{_('Летопись')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="ak"><input name="source_genre" type="checkbox" id="ak" onchange="checkboxStatusChange4()" value="Hron" /> {{_('Хроника и хронография')}}&nbsp;&nbsp;&nbsp;</label>
                    <label for="al"><input name="source_genre" type="checkbox" id="al" onchange="checkboxStatusChange4()" value="Docum" /> {{_('Документы')}}&nbsp;&nbsp;&nbsp;</label>
                  </div>
                </div>
              </div>
            </div>

    <div class="container-fluid" style="margin-left: -30px">
              <div class="form-group col-sm-8">
                <label for="myMultiselect3" style="font-weight:bold">{{_('Язык оригинала переводного источника')}}</label>
                <div id="myMultiselect3" class="multiselect3">
                    <!-- <div id="mySelectLabel3" class="selectBox3" onclick="toggleCheckboxArea3()"> -->

                      <div id="mySelectLabel3" class="selectBox3">
                          <!-- <select class="form-select"> -->
                    <!-- <select class="form-select">
                      <option>Источник не переводной</option>
                    </select>-->
                    <div class="overSelect3"></div>
                  </div>
                  <div id="mySelectOptions3">
                    <label for="fiteen"><input name="source_language" type="checkbox" id="fiteen" onchange="checkboxStatusChange3()" value="0" /> {{_('греческий ')}}&nbsp;&nbsp;</label>
                    <label for="sixteen"><input name="source_language" type="checkbox" id="sixteen" onchange="checkboxStatusChange3()" value="1" /> {{_('латынь')}}&nbsp;&nbsp;</label>
                    <label for="seventeen"><input name="source_language" type="checkbox" id="seventeen" onchange="checkboxStatusChange3()" value="2" /> {{_('немецкий')}}&nbsp;&nbsp;</label>
                    <label for="eighteen"><input name="source_language" type="checkbox" id="eighteen" onchange="checkboxStatusChange3()" value="19" /> {{_('польский')}}&nbsp;&nbsp;</label>
                    <label for="nineteen"><input name="source_language" type="checkbox" id="nineteen" onchange="checkboxStatusChange3()" value="3" /> {{_('чешский')}}&nbsp;&nbsp;</label>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div>
    <button type="submit" class="botr">{{_('Искать')}}</button>
    </form>

</div>


{% endblock %}